/target/
/build/
/bin/
/out/
/.settings/
/.classpath
.project
*.log
*.tmp
.springBeans
/src/main/webapp/WEB-INF/spring/root-context.xml
/src/main/webapp/WEB-INF/spring/security-context.xml
/src/main/webapp/WEB-INF/spring/appdatasource.xml
