# 빌드 산출물
/target/
/build/
/bin/
/out/

# Eclipse 설정
/.settings/
/.classpath
.project

# 로그/임시 파일
*.log
*.tmp
.springBeans


# OS 잡파일
.DS_Store
Thumbs.db

# Maven / Gradle 산출물
dependency-reduced-pom.xml
release.properties
*.war
*.jar
*.class

src/main/resources/config/*.properties